body {
    box-sizing: border-box;
    margin: 0;
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
}

/* ==========
  ELEMENTS
========== */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

a:hover {
    color: #70b9db;
    cursor: pointer;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

h2 {
    margin: 0;
    font-size: 2rem;
}

p {
    text-align: justify;
}

/* ==========
   LAYOUT
========== */

.flex {
    display: flex;
}

.ctn {
    display: flex;
    flex-direction: column;
}

.half {
    width: 50vw;
}

/* HEADER */

.header {
    background: #1F2937;
}

.header-ctn {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header-logo {
    width: 200px;
    height: 75px;
    object-fit: cover;
}

.header-nav {
    gap: 1rem;
}

/* ABOUT */

#about {
    margin: 5rem auto;
    gap: 4rem;
    justify-content: space-between;
    align-items: center;
}

.about-img {
    width: 450px;
    height: 270px;
    object-fit: none;
    object-position: 65% 55%;
    flex-shrink: 0;
}

.about-text {
    padding: 0;
}

.about-text > * {
    color: #F9FAF8;
}

.btn {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 0.5rem 2rem;
    font-weight: bold;
    font-size: 1rem;
}

.btn:hover {
    background-color: #F9FAF8;
    color: #1F2937;
    cursor: pointer;
}

/* CHARACTERS */

#character {
    align-items: center;
    padding: 5rem 0;
    gap: 2rem;
}

.character-card {
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.character-card > p {
    margin: 0;
}

.character-img {
    width: 150px;
    height: 150px;
    object-fit: none;
    border: 2px solid #1F2937;
    border-radius: 25%;
}

/* .character-info {
    no special properties
} */

.character-img.alphen {
    object-position: 70% 10%;
}

.character-img.shionne {
    object-position: 67.5% 12%;
}

.character-img.rinwell {
    object-position: 42.5% 6%;
}

.character-img.law {
    object-position: 50% 7%;
}

.character-img.kisara {
    object-position: 37.5% 7.5%;
}

.character-img.dohalim {
    object-position: 50% 11%;
}

/* QUOTE */

#quote {
    align-items: center;
    background-color: #E5E7EB;
    padding: 5rem 0;
    gap: 4rem;
}

.quote-ctn {
    align-items: center;
    gap: 1rem;
}

.quote-text {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    margin: 0;
}

.quote-author {
    margin: 0;
    align-self: flex-end
}

/* ACTION */

#action {
    padding: 5rem;
    align-items: center;
}

.action-blue {
    background: #3882F6;
    justify-content: space-between;
    padding: 3rem;
    border-radius: 10px;
}

.action-left > * {
    margin: 0;
}

.action-left h3 {
    color: #F9FAF8;
}

.action-left p {
    color: #E5E7EB;
}

.subscribe {
    border: 2px solid #F9FAF8;
}

/* FOOTER */

.footer {
    background: #1F2937;
    padding: 2.5rem 0;
}

.footer p {
    color: #F9FAF8;
    margin: 0 auto;
    font-size: 18px;
}